
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.principal__titulo{
    text-align: center;
    margin: 2rem 2rem;
    color: white;
}

.principal__boxacciones{
    margin-top: 10px;
    gap: .4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.principal__botonHistorial{
    /* margin-top: 2rem; */
    padding: 10px;
    border-radius: 12px;
    background-color: #1e64f0;
    border: solid 2px #1e64f0;
    color: white;
    transition: all .3s linear;
}

.principal__botonHistorial:hover{
    color: white;
    background-color: #17223c;
    transition: all .2s linear;
}
